<p>
  With more than 100 cross-platform mobile development frameworks available, it is hard to understand how 
  they work in particular and which one is the right one for your needs. In my job as a consultant for 
  <a href0"http://www.zuehlke.com">Zühlke Engineering</a>, I evaluate new technologies nearly every week. 
  The material on this site (and in the accompanying ebook) reflects my research.
</p>
<p>This is a work in progress, so please check back often. I will also provide an RSS feed so you can 
  subscribe to the update stream using your favorite reader.
<p>
  I hope you enjoy reading this book as much as I did writing it.
</p>

<h2>$title$</h2>

$tocitems$